<ion-app>
  <ion-split-pane contentId="main-content" when="(min-width: 992px)">
    <ion-menu contentId="main-content" type="overlay" class="app-menu">
      <ion-content [fullscreen]="true">
        <div class="menu-panel">
          <div class="menu-brand">
            <span class="menu-brand__eyebrow">Gaia Edu</span>
            <h1>Experiencia responsiva para estudo em qualquer tela</h1>
            <p>
              Interface otimizada para navegador, Android e dispositivos Apple com navegacao fluida.
            </p>
          </div>

          <ion-list id="inbox-list" lines="none">
            <ion-list-header>Conta</ion-list-header>
            <ion-item class="user-card" lines="none">
              <ion-icon slot="start" ios="person-circle-outline" md="person-circle-sharp"></ion-icon>
              <ion-label>
                <h2>{{ user.name }}</h2>
                <p>{{ user.email }}</p>
              </ion-label>
            </ion-item>
          </ion-list>

          <ion-list id="navigation-list" lines="none">
            <ion-list-header>Navegacao</ion-list-header>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <ion-list id="labels-list" lines="none">
            <ion-list-header>Compatibilidade</ion-list-header>
            <ion-item *ngFor="let label of labels" lines="none" class="platform-item">
              <ion-icon slot="start" ios="phone-portrait-outline" md="phone-portrait-sharp"></ion-icon>
              <ion-label>{{ label }}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
